.App {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Columns > div {
    margin: 8px;
}
